{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Register
{% endblock %}

{% block body_block %}
<h1>Register for Rango</h1>
{% if registered %}
Rango says: <strong>thank you for registering!</strong>
<a href="{% url 'rango:index' %}">Return to the homepage.</a><br />
{% else %}
Rango says: <strong>register here!</strong><br />
<form id="user_form" method="post" action="{% url 'rango:register'%}"
	  enctype="multipart/form-data">
	  
	  {% csrf_token %}
	  <!-- as_p method wraps each element in the form in a paragraph (denoted by the <p> HTML tag).
	  This ensures that each element appears on a new line-->
	  {{ user_form.as_p }}
      {{ profile_form.as_p }}
	  <input type="submit" name="submit" value="Register" />
</form>
{% endif %}
{% endblock %}